<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="/assets/css/main.css" as="style">
<link rel="preload" href="/assets/js/app.js" as="script">
<meta http-equiv="Content-Security-Policy" 
      content="default-src 'none';
               script-src 'self' 'sha256-{{ site.csp_hash }}' https://cdn.simpleanalytics.io;
               style-src 'self' 'unsafe-inline';
               img-src 'self' data: https://api.simpleanalytics.io;
               connect-src 'self' https://api.workgen.app;
               form-action 'self';
               base-uri 'self';
               frame-ancestors 'none';"> 